# === templates-base ===========================================================
# -- Nix --
result
result-*
.direnv/
.pre-commit-config.yaml
# -- Secrets --
.env
# -- OS / Editors --
.DS_Store
.idea/
.vscode/
*.sw[po]
*~
# === end templates-base =======================================================
# === templates-lang-cpp =======================================================
# -- CMake / build --
build/
compile_commands.json
# === end templates-lang-cpp ===================================================
