{% raw -%}
name: CI C++ Coverage
on:
  pull_request:
    branches: [dev]
concurrency:
  group: ci-cpp-coverage-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/ci-cpp-coverage
        with:
{%- endraw %}
{%- if compiler_matrix in ['clang', 'both'] %}
          compiler: clang
{%- else %}
          compiler: gcc
{%- endif %}
{% raw -%}
          token: ${{ secrets.CODECOV_TOKEN }}
{%- endraw %}
